*{
    box-sizing: border-box;
  }
  img {
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  } 
  body {
    scroll-behavior: smooth;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
  margin-top: 52px;
  padding: 16px 8px;
  font-size: 12px;
  }
  .search-form{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #b1b272;
    font: inherit;
    padding: 8px;
    width: 100vw;
  }
  .search-form input {
    padding: 8px;
    font-size: 16px;
    height: 36px;
    border: none;
    border-radius: 4px 0px 0px 4px;
    outline: none;
  }
  .search-form button {
    width: 36px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
  }
  .search-form button:before {
  content: '';
  font-family: FontAwesome;
  font-size: 16px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis :calc((100% - 80px) / 4);
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery-image {
    display: block;
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
  .photo-link {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    transition: transform var(--animation-duration) var(--timing-function);
    background-color: #fffcf4;
    display: block;
    color: var(--main-text-color);
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
  }
  
  .photo-link:hover {
    cursor: zoom-in;
    transform: scale(1.03);
} 
  .info{
    justify-content: space-around;
    align-items: center;
    display: flex;
  }
  .info-item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
